.BasicParagraph {
    /* border: 1px solid blue; */
    display: flex;
    width: 100%;
    
    .basicParagraphInputContainer {
        /* border: 1px solid blue; */
        width: 90%;

        .basicParagraphInput {
            width: 100%;
            transition: 0.2s;

        }
    }

    .plusButton {
        background-color: rgb(0, 110, 255);
        border: none;
        border-radius: 100%;
        color: white;

        display: fixed;
        outline: none;
    }

    .deleteButton {
        background-color: rgb(255, 0, 0);
        border: none;
        border-radius: 100%;
        color: white;

        display: fixed;
        outline: none;
    }
}