.Document {
    border: 2px solid blue;
    padding: 10px;
    width: 100%
}

.Page {
    border: 2px solid black;
    margin: 5px 0;

    .HeaderFooter {
        
    }
    
    .BasicParagraph {
        display: flex;
        width: fit-content;
    }
    
    .front {
        /* border: 2px solid yellow; */
    }

    .page1 .page2 {
        /* border: 2px solid green; */
    }

    .back {
        /* border: 2px solid blue; */
    }
}

.testTable {
    .col {
        display: flex;
    }
}

h3 {
    /* text-align: center; */
}

.plusButton {
    background-color: rgb(0, 110, 255);
    border: none;
    border-radius: 100%;
    color: white;

    display: fixed;
    margin: 2px;
    outline: none;
}

.deleteButton {
    background-color: rgb(255, 0, 0);
    border: none;
    border-radius: 100%;
    color: white;

    display: fixed;
    margin: 2px;
    outline: none;
}