.Document {
    text-align: left;
    margin-top: 130px;
    
    width: 80%;

    .column {
        width: 100%;
        text-align: left;
    }

    .textInput {
        /* invisible border to even out small movement on focus */
        border: 2px solid white;
        transition: 0.2s;
        width: 12em; 
        
        &:focus {
            border-bottom: 1px solid rgb(185, 185, 185);
            outline: 0;
        }
                    
        &:hover {
            border-bottom: 1px solid rgb(185, 185, 185);
        }
    }
}