.StylePanel {
    background-color: white;
    /* border: 2px solid red; */
    box-shadow: 0px 4px 4px 2px rgb(194, 194, 194);
    display: flex;
    margin-bottom: 20px;
    padding: 10px 5px;
    position: fixed;
    top: 70px;
    width: 80%;
    
    .inputTypeSwitch {
        align-items: center;
        display: flex;
        justify-content: center;
        
        #text {
            /* border-right: 2px solid blue; */
        }
        
        #picture {
            /* border-right: 2px solid blue; */
        }
    }

    .style {
        display: flex;
        /* border: 2px solid black; */
        
        .stylePanelInput {
            margin: 5px;
        }
        
        .StylePanelFlex {
            display: flex;
        }
    }
    
    .borderRight {
        border-right: 1px solid  rgb(194, 192, 192);
        margin-right: 5px;
        padding-right: 5px;
    }
}