.Style {
    border: 2px solid red;
    /* height: fit-content; */
    width: 30%;

    position: sticky;
    top: 165px;
}

.inputTypeSwitch {
    display: flex;

    #text {
        /* border-right: 2px solid blue; */
    }

    #picture {
        /* border-right: 2px solid blue; */
    }
    
    #_table {

    }
}

.stylePanel {
    border: 2px solid black;

    .stylePanelInput {
        margin: 5px;
    }

    .stylePanelLabel {
        margin: 5px;
        
    }
}