.StylePanel {
    background-color: white;
    box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.397);
    border-radius: 4px;
    display: flex;
    margin-bottom: 20px;
    padding: 10px 5px;
    padding-top: 20px;
    position: fixed;
    top: 70px;
    width: 80%;
    
    .inputTypeSwitch {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .style {
        display: flex;
        
        .stylePanelInput {
            margin: 5px;
        }
        
        .StylePanelFlex {
            display: flex;
        }
    }
    
    .borderRight {
        border-right: 1px solid  rgb(194, 192, 192);
        margin-right: 5px;
        padding-right: 5px;
    }
}