:root {
    --stylePanelColorSize: 25px;
}

.StylePanelColor {
    align-items: center;
    background-color: rgb(238, 238, 238);
    border-radius: 4px;
    display: flex;
    font-size: 18px;
    height: var(--stylePanelColorSize);
    justify-content: center;
    width: var(--stylePanelColorSize);
    margin: 5px;
    margin-left: 25px;
    padding-bottom: 4px;
    text-decoration: underline;
    text-decoration-color: black;
    text-decoration-thickness: 3px;
    

    .stylePanelInput {
        height: var(--stylePanelColorSize);
        margin: 0 !important;
        opacity: 0;
        position: absolute;
        width: var(--stylePanelColorSize);
    }
}