body {
    background: white;
    padding: 0;
}

.App {
    position: relative;
    min-height: 100vh;

    .content {
        .overlay {
            background-color: rgb(0, 0, 0, 0.4);
            display: none;
            height: 100vb;
            position: absolute;
            width: 100%;
        }
    }

    /* Buttons */
    .blackButton {
        border-color: black;
        border-radius: 5px;
        text-decoration: none;
        transition: 0.2s;

        &:disabled {
            color: grey;

            &:hover {
                background-color: black;
            }
        }
    }
    
    .blackButtonContained {
        border: none;
        background-color: black;
        color: white;
        outline: none;
    }

    .blackButtonContained:hover {
        background-color: rgb(77, 77, 77);
    }
    
    .blackButtonOutlined {
        color: black;
    }
    
    .blackButtonOutlined:hover {
        border-color: black;
    }

    .buttonSmall {
        padding: 5px 10px 5px 10px;
    }

    .whiteButton {
        background-color: white;
        border: none;
        border-radius: 5px;
        color: black;
        outline: none;
        transition: color 0.2s;
        
        &:hover {
            color: rgb(168, 168, 168);
        }
    }
    
    .whiteButtonPortrait {
        height: 140px;
        width: 100px;
    }

    .whiteButtonLandscape {
        height: 100px;
        width: 140px;
    }

    .smallIconButton {
        height: 20px;
        transition: height 0.2s;

        &:hover {
            height: 28px;
        }
    }

    /* Other */
    .flexCenter {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .flexLeft {
        align-items: center;
        display: flex;
        justify-content: left;
    }

    .flexRight {
        align-items: center;
        display: flex;
        justify-content: right;
    }

    .whiteLink {
        color: white;
        text-decoration: none;
    }
}