body {
    background: white;
    padding: 0;
}

.App {
    position: relative;
    min-height: 100vh;

    .blackButton {
        border-color: black;
        padding-right: 20px;
        text-decoration: none;
    }
    
    .blackButton:focus {
        outline: none;
    }
    
    
    .blackButtonContained {
        background-color: black;
        color: white;
    }
    .blackButtonContained:hover {
        background-color: rgb(77, 77, 77);
    }
    
    .blackButtonOutlined {
        color: black;
    }
    
    .blackButtonOutlined:hover {
        border-color: black;
    }
    
    .content {
        padding-bottom: 80px;
    }
}