body {
    background: white;
    padding: 0;
}

.App {
    position: relative;
    min-height: 100vh;

    #popUpWindowContainer {
        display: flex;
        justify-content: center;
    }

    .content {
        .overlay {
            background-color: rgb(0, 0, 0, 0.4);
            display: none;
            height: 100vb;
            position: absolute;
            width: 100%;
        }
    }

    .blackButton {
        border-color: black;
        border-radius: 5px;
        text-decoration: none;
    }
    
    .blackButtonContained {
        border: none;
        background-color: black;
        color: white;
        outline: none;
    }

    .blackButtonContained:hover {
        background-color: rgb(77, 77, 77);
    }
    
    .blackButtonOutlined {
        color: black;
    }
    
    .blackButtonOutlined:hover {
        border-color: black;
    }

    .buttonSmall {
        padding: 5px 10px 5px 10px;
    }
}