.Checkbox {
    
    .checkboxLabel {
        transition: background-color 0.2s, border 0.2s, opacity 0.2s;

        &:hover {
            cursor: pointer;

            &.disabled {
                cursor: default;
            }
        }

        .checkboxInput {
            opacity: 0;
            position: absolute;
    
            &:hover {
                cursor: pointer;
    
                &.disabled {
                    cursor: default;
                }
            }
        }
        
        .checkboxChildren {
            height: 100%;
            width: 100%;
    
            &:hover {
                cursor: pointer;
    
                &.disabled {
                    cursor: default;
                }
            }
        }
    }
}