.Checkbox {

    .checkboxLabel {
        border: 1px solid grey;
        transition: background-color 0.2s, border 0.2s;

        &:hover {
            cursor: pointer;
        }
    }

    .checkboxInput {
        opacity: 0;
        position: absolute;

    }
    
    .checkboxChildren {
        height: 100%;
        width: 100%;
    }
}