:root {
    --plusIconHoverSize: 60px
}

.Column {
    height: 100%;
    transition: background-color 0.7s;
    width: 100%;

    .columnOverlay {
        color: grey;
        height: 100%;
    }
}

.spaceBetweenColumns {
    padding: 0 12px !important;
}

.halfSpaceRightBetweenColumns {
    padding-right: 24px !important;
}

.halfSpaceLeftBetweenColumns {
    padding-left: 24px !important;
}