.ControlPanel {
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 1;
    
    .boxShadowContainer {
        /* box-shadow: 0px 10px 10px 0px rgb(189, 189, 189); */
        padding: 5px 0;

        .burgerButtonIcon {
            color: rgb(233, 233, 233);
        }
        
        .fileNameInput {
            border: none;
            border-radius: 3px;
            min-width: 191px;
            opacity: 0.6;
            padding: 3px;
            transition: background-color 0.2s, opacity 0.2s;

            &:focus {
                opacity: 1;
                outline: none;

                &:hover {
                    opacity: 1;
                }
            }
            
            &:hover {
                opacity: 0.8;
            }
        }
    }
}