.Document {
    min-height: 100vh;
    position: relative;

    .documentOverlay {
        background-color: rgb(0, 0, 0, 0.4);
        display: none;
        height: 100%;
        position: absolute;
        width: 100%;
        z-index: 2;
    }

    .controlPanelMenu {
        background-color: white;
        border: 3px solid black;
        border-radius: 3px;
        overflow: auto;
        padding: 0 10px;
        position: absolute;
        top: 40px;
        z-index: 2;
        
        .controlPanelMenuItem {
            margin: 15px 0;
        }
    }
}