.Menu {
    display: flex;
    height: 100vb;
    padding: 2vi;
    width: 100%;
    

    .leftSideBar {
        margin-right: 5vi;
        width: 200px;

        #newDocumentButton {
            transition: color 0.2s;

            &:hover {
                color: rgb(168, 168, 168);
            }
        }
    }
    
    .rightSideBar {
        height: fit-content;
        width: 100%;
        
        .savedDocument {
            background-color: white;
            border-radius: 5px;
            font-size: 20px;
            margin-bottom: 5px;
            padding: 10px;
        }
    }
}