.NavBar {
    background-color: white;
    font-size: 20px;
    z-index: 2;
    
    .boxShadowContainer {
        background-color: bisque;
    }
    
    .navLink {
        color: black;
        width: max-content;
    }

    .navSectionRight {
        .navButton {
            margin-left: 10px;
            
            .navLink {
                color: bisque;
                text-decoration: none;
            }
        }
    
        .navButton:focus {
            outline: none;
        }
        
        #loginButton {
            color: bisque;
        }

        .navSectionRightMobile {
            border-radius: 5px;
            background-color: white;
            padding: 10px;
            position: absolute;
            right: 0;
            width: 150px;
            z-index: 2;

            .navSectionRightMobileItem {
                border-radius: 3px;
                padding: 5px 15px;
                transition: background-color 0.2s;
                
                &:hover {
                    background-color: bisque;
                }
            }
        }
    }
}