:root {
    --marginNavBarInside: 10px;
}

.NavBar {
    align-items: center;
    background-color: bisque;
    box-shadow: 0 1px 5px -2px black;
    display: flex;
    font-size: 20px;
    overflow: auto;
    padding: var(--marginNavBarInside);
    
    .navSectionLeft {
        margin-left: var(--marginNavBarInside);
        width: 33%;
    
        .navLink {
            color: black;
            padding-right: 20px;
            text-decoration: none;
            transition: opacity 0.2s;
            
            &:hover {
                opacity: 0.5;
            }
        }
    }

    .navSectionCenter {
        color: rgba(0, 0, 0, 0.486);
        font-size: 15px;
        overflow: auto;
        width: 33%;
    }
        
    .navSectionRight {
        margin-right: var(--marginNavBarInside);
        width: 33%;

        .navButton {
            margin-left: 10px;
            
            .navLink {
                color: bisque;
                text-decoration: none;
            }
        }
    
        .navButton:focus {
            outline: none;
        }
        
        #loginButton {
            color: bisque;
        }

        .navSectionRightMobile {
            border-radius: 5px;
            background-color: black;
            color: white;
            padding: 10px 0;
            position: absolute;
            right: calc(var(--marginNavBarInside) * 2);
            width: 150px;
            z-index: 2;

            .navSectionRightMobileItem {
                border-radius: 3px;
                padding: 5px 15px;
            }
        }
    }
}