:root {
    /* these are set on document render */
    --pageWidthPortrait: 778px;
    --pageWidthLandscape: 1133px;
}

.Page {
    background-color: white;
    margin: 20px 5px 70px;
    
    .columnContainer {
        display: flex;
        height: 100%;
    }
}

/* page dimensions, don't change!!! */
.pagePortrait {
    height: 1100px !important;
    padding: 33px 90px !important;
    width: var(--pageWidthPortrait) !important;
}

.pageLandscape {
    height: 800px !important;
    padding: 33px 100px !important;
    width: var(--pageWidthLandscape) !important;
}