.PopupContainer {
    height: 70vh;
    position: fixed;
    top: 15%;
    width: 60%;
    z-index: 2;

    .fullWidth {
        width: 100%;
    }

    .largeWidth {
        width: 450px;
    }

    .mediumWidth {
        width: 300px;
    }

    .smallWidth {
        max-width: 200px;
    }

    .fullHeight {
        height: 100%;
    }

    .largeHeight {
        height: 450px;
    }

    .mediumHeight {
        height: 300px;
    }

    .smallHeight {
        height: 200px;
    }
}