.PopupHeadingConfig {
    height: 100%;
    overflow: visible;

    .header {
        height: 5%;
    }

    .body {
        height: 85%;

        .headingContainer {
            margin-bottom: 40px;

            .heading {
                overflow-x: hidden;
                white-space: nowrap;
                width: 50%;
            }

            .heading1 {
                font-size: 30px;
            }

            .heading2 {
                font-size: 25px;
            }

            .heading3 {
                font-size: 20px;
            }
        }
    }

    .footer {
        align-items: last baseline;
        height: 10%;
        width: 100%;
    }
}