.PopupHeadingConfig {
    height: 100%;
    overflow: visible;

    .body {
        height: 85%;
        overflow: auto;

        .radioContainer {
            margin-bottom: 70px;

            .RadioButton {
                width: 100%;
                
                .radioLabel {
                    border-right: none;
                    border-bottom: none;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                    border-bottom-left-radius: 0;
                    height: 160px;
                    max-width: 400px;

                    .radioChildren {
                        border-right: 1px dashed rgb(179, 179, 179);
                        font-size: 0.8rem;
                        overflow: hidden;
                        padding-right: 1vi;
                        width: 80%;

                        .mockTable {
                            border: 1px solid black;
                            border-bottom: none;
                            width: 100%;

                            .mockRow {
                                border: 1px solid black;

                                .mockCell {
                                    border: 1px solid black;
                                }

                                .mockCellThreeCols {
                                    width: 33%;
                                }

                                .mockCellTwoCols {
                                    width: 50%;
                                }
                            }
                        }
                    }
                }

                .whiteButtonLandscape {
                    width: 80%;
                }

                .whiteButtonPortrait {
                    width: 60%;
                }
            }
        }
    }

    .footer {
        align-items: last baseline;
        height: 10%;
        width: 100%;
    }
}