.PopupContainer {
    display: none;
    height: 70vh;
    position: fixed;
    top: 15%;
    width: 60%;
    z-index: 2;

    .fullWidth {
        width: 100%;
    }

    .largeWidth {
        max-width: 600px;
        width: 75%;
    }

    .mediumWidth {
        max-width: 400px;
        width: 50%;
    }

    .smallWidth {
        max-width: 300px;
        width: 30%;
    }

    .fullHeight {
        height: 100%;
    }

    .largeHeight {
        max-height: 600px;
        height: 75%;
    }

    .mediumHeight {
        max-height: 400px;
        height: 300px;
    }

    .smallHeight {
        height: 200px;
        max-height: 300px;
    }
}