:root {
    --fullHeight: 70vh;
    --fullWidth: 60vi;
}

.PopupContainer {
    height: var(--fullHeight);
    position: fixed;
    top: 15%;
    z-index: 2;

    .matchPopupDimensions {
        position: absolute;
        height: fit-content;
        width: fit-content;
    }
}