.PopupNewDocument {
    height: 100%;

    .header {
        height: 5%;
    }

    .body {
        height: 90%;

        .orientationContainer {
            flex-wrap: wrap;
            position: absolute;
        }

        .numColumnsContainer {
            display: none;
            height: 80%;
            flex-wrap: wrap;
            overflow: auto;

            .verticalBorderRightDotted {
                border-right: 1px dashed rgba(128, 128, 128, 0.568);
                height: 100%;
            }
        }

        .radioContainer {
            margin: 2vb 1vi 2vb 1vi;
        }

        .slideButton {
            background-color: transparent;
            border: none;
            outline: none;
            position: absolute;
        }

        .slideLeftButton {
            right: 1vb;
        }
    }

    .footer {
        align-items: last baseline;
        display: flex;
        height: 5%;
        width: 100%;

        #prevButton {
            width: 80px;
        }
        
        #nextButton {
            width: 80px;
        }

        .flexLeft {
            width: 50%;
        }
        
        .flexRight {
            width: 50%;
        }
    }
}
