.PopupNewDocument {
    height: 100%;

    .header {
        align-items: flex-start;
        display: flex;
        height: 5%;

        .smallIconButton {
            transition: opacity 0.2s;
            &:hover {
                cursor: pointer;
                opacity: 0.5;
            }
        }
    }

    .body {
        height: 90%;

        .orientationContainer {
            flex-wrap: wrap;
            position: absolute;

            .radioChildren {
                align-items: center;
                display: flex;
                justify-content: center;
                text-align: center;
            }
        }

        .numColumnsContainer {
            display: none;
            height: 80%;
            flex-wrap: wrap;
            overflow: auto;

            .radioContainer {
                text-align: center;

                .radioLabel {
                    padding: 0;

                    .radioChildren {
                        align-items: center;
                        display: flex;
                        font-size: 9px;
                        justify-content: center;
                    }
                }
            }

            .verticalBorderRightDotted {
                border-right: 1px dashed rgba(128, 128, 128, 0.39);
                height: 100%;
            }
        }

        .radioContainer {
            margin: 2vb 1vi 2vb 1vi;
        }

        .slideButton {
            background-color: transparent;
            border: none;
            outline: none;
            position: absolute;
        }

        .slideLeftButton {
            right: 1vb;
        }
    }

    .footer {
        align-items: last baseline;
        display: flex;
        height: 5%;
        width: 100%;

        #prevButton {
            width: 80px;
        }
        
        #nextButton {
            width: 80px;
        }

        .flexLeft {
            width: 50%;
        }
        
        .flexRight {
            width: 50%;
        }
    }
}
