.Select {
    width: 100px; /** will be changed on render*/ 

    .selectBox {
        border: 1px solid grey;
        border-radius: 3px;
        min-height: 33px;
        padding: 0 4px;
        transition: background-color 0.2s;

        .selectLabel {
            overflow: hidden;
            margin-right: 5px;
            width: 90%;
        }

        .arrowDownIcon {
            height: 13px;
        }
    }

    .selectOptionsBox {
        background-color: white;
        border: 1px solid grey;
        border-radius: 3px;;
        display: none;
        padding: 4px;
        position: absolute;
        width: 100px; /** will be changed on render*/ 
        
        & option {
            border-radius: 3px;
            overflow: hidden;
            transition: background-color 0.2s;

            &:hover {
                background-color: rgb(185, 185, 185);
            }
        }
    }
}