.StylePanel {
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 7px 8px -2px rgb(155, 155, 155);
    height: 120px;
    padding-top: 10px;
    /* margin-top: 20px; */

    .sectionContainer {
        height: 100%;

        /* ColorPicker */
        .colorChildren {
            text-decoration: underline;
            text-decoration-thickness: 4px;
        }

        .radioLabel {
            border-radius: 3px;
            height: 30px;
            margin-right: 5px;
            width: 30px;
        }
    }
}