:root {
    --stylePanelOverflow: none
}

.StylePanel {
    background-color: rgb(255, 255, 255);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 5px 8px -5px rgb(155, 155, 155);
    min-height: 120px;
    position: sticky;
    transition: top 0.3s;
    z-index: 1;

    .sectionContainer {
        height: 100%;
        max-width: 100vi;
        min-width: 80vi;
        overflow: var(--stylePanelOverflow);
        transition: opacity 0.2s;

        /* ColorPicker */
        .colorChildren {
            text-decoration: underline;
            text-decoration-thickness: 4px;
        }

        .radioLabel {
            border-radius: 3px;
            height: 30px;
            width: 30px;
        }

        .StylePanelIconContainer {
            white-space: nowrap;
        }
    }

    .subtlePopupContainer {
        position: absolute;
        right: 215px;
        top: 10px;

        .Popup.Subtle {
            border: 1px solid rgb(199, 199, 199);
            border-radius: 3px;
            font-size: 0.9em;
            line-height: normal;
            overflow: auto;
            padding: 10px;
            position: absolute;
        }

        #PopupSubtleInfo {
            /* opacity: 0; */
            /* background-color: rgb(228, 228, 228); */
        }

        #PopupSubtleSuccess {
            /* opacity: 0; */
            /* background-color: rgb(130, 255, 130); */
        }

        #PopupSubtleWarn {
            /* opacity: 0; */
            /* background-color: rgb(255, 221, 127); */
        }

        #PopupSubtleError {
            /* opacity: 0; */
            /* background-color: rgb(255, 130, 130); */
        }
    }

    ::-moz-selection {
        background: rgb(172, 172, 172);
    }
      
    ::selection {
        background: rgb(172, 172, 172);
    }
}