.SubtlePopup {
    border-radius: 3px;
    border: 1px solid green;
    line-height: normal;
    padding: 10px;
}

.Popup.Subtle {
    .Info {
        border-color: rgb(0, 140, 255);
    }
    
    .Success {
        border-color: rgb(0, 206, 0);
    }
    
    .Warn {
        border-color: orange;
    }
    
    .Error {
        border-color: red;
    }
}