.textInputContainer {
    .TextInput {
        font-family: 'Calibri';
        font-size: 14px;
        border: none;
        border-bottom: 1px dashed grey;
        margin: 0 3px 1px 3px;
        outline: none;
        width: 100%;
        
        &:focus {
            border-bottom-color: aqua;
        }
    }
}