.textInputContainer {
    .TextInput {
        border: none;
        border-bottom: 1px dashed grey;
        font-family: 'Calibri';
        font-size: 14px;
        margin: 0 3px 1px 3px;
        outline: none;
        width: 100%;
        
    }
    
    .textInputFocus {
        border-bottom-color: rgb(0, 226, 226);
    }

    .textInputFlash {
        border-bottom-color: red;
        border-bottom-width: 2px;
    }
}