.WarnIcon {
    .iconContainer {
        border: 1px solid grey;
        border-radius: 50%;
        transition: opacity 0.2s;

        &:hover {
            opacity: 0.5
        }
    }

    .dontHover {
        &:hover {
            opacity: 1;
        }
    }

    .miniPopup {
        display: none;
        position: absolute;
    }

    .smallCircle {
        height: 24px;
        padding: 7px;
        width: 24px;
    }

    .mediumCircle {
        height: 34px;
        padding: 17px;
        width: 34px;
    }

    .largeCircle {
        height: 44px;
        padding: 27px;
        width: 44px;
    }
}